.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 50vh;
  }
  
  .box {
    text-align: center;
    background: #f8f8f8;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: #0057f8;
    color: #f8f8f8;
  }
  
  .breadcrumbs {
    font-size: 24px;
    color: #888;
    font-weight: bold;
  }