.folderWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 768px) {
  .bookMarkSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .folderWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .notesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
