.container {
  width: 650px;
  height: 200px;
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #fafafa;
  flex-direction: column;
  border-radius: 12px;
}
.button {
  padding: 10px;
  border-radius: 10px;
  background: #2d69e0;
  border: none;
  color: #fafafa;
  cursor: pointer;
}
