.notesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start; /* Align items from the left */
  padding: 0px;
}

.noteCard {
  background: #FAFAFA;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.noteCard:hover {
  transform: translateY(-5px);
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noteIcon {
  font-size: 24px;
}

.dropdownContainer {
  position: relative;
}

.moreButton {
  background-color: #3f4246;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 32px; /* Ensure square shape */
  height: 32px; /* Ensure square shape */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f4f6;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 120px;
  z-index: 10;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #f0f0f0;
}

.noteTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background: #DBDBDB;
  color: #333;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 5px;
}
@media (max-width:768px) {
  .notesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px;
}
}
